<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utec.grupalsemana2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IAGRO"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrupalSemana2"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentacion.login"
            android:exported="true" />
        <activity
            android:name=".prueba"
            android:exported="true"
            android:label="@string/title_activity_prueba"
            android:theme="@style/Theme.GrupalSemana2.NoActionBar" />

        <service
            android:name=".servicios.ServicioMostrarLog"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".presentacion.ListarActividadesDeCampo"
            android:exported="true" />
        <activity
            android:name=".presentacion.AltaActividadDeCampo"
            android:exported="true" />
        <activity
            android:name=".presentacion.MostraActividadDeCampo"
            android:exported="true" />
    </application>

</manifest>